In [1]:
import pandas as pd
from sklearn.datasets import load_iris
import yfinance as yf

In [4]:

# --- 1. Iris Dataset ---
iris = load_iris(as_frame=True)
iris_df = iris.frame
print("ðŸŒ¸ Iris Dataset:")
iris_df.head()

ðŸŒ¸ Iris Dataset:

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:

# --- 2. Breakfast Cereal Dataset ---
# Assuming you have downloaded cereal.csv from Kaggle and placed in same directory
cereal_df = pd.read_csv('../data/cereal.csv')
print("ðŸ¥£ Breakfast Cereal Dataset:")
cereal_df.head()

ðŸ¥£ Breakfast Cereal Dataset:

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [6]:

# --- 3. Dow Jones Industrial Average Dataset ---
# Load historical data (e.g., last 5 years)
djia_df = yf.download('^DJI', start='2020-01-01', end='2025-01-01')
print("ðŸ“‰ Dow Jones Industrial Average (DJIA) Dataset:")
djia_df.head()

/var/folders/rm/0jh9m2y95hs1wg5ny27kcv8w0000gn/T/ipykernel_576/4262618321.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  djia_df = yf.download('^DJI', start='2020-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed

ðŸ“‰ Dow Jones Industrial Average (DJIA) Dataset:

Price              Close          High           Low          Open     Volume
Ticker              ^DJI          ^DJI          ^DJI          ^DJI       ^DJI
Date
2020-01-02  28868.800781  28872.800781  28627.769531  28638.970703  251820000
2020-01-03  28634.880859  28716.310547  28500.359375  28553.330078  239590000
2020-01-06  28703.380859  28708.019531  28418.630859  28465.500000  252760000
2020-01-07  28583.679688  28685.500000  28565.279297  28639.179688  258900000
2020-01-08  28745.089844  28866.179688  28522.509766  28556.140625  291750000